@font-face {
  font-family: 'Apercu Bold';
  src:url('../assets/fonts/Apercu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro Bold';
  src: url('../assets/fonts/ApercuPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro Mono';
  src: url('../assets/fonts/ApercuPro-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('../assets/fonts/Apercu-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro Bold Italic';
  src: url('../assets/fonts/ApercuPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Bold Italic';
  src: url('../assets/fonts/Apercu-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Regular';
  src: url('../assets/fonts/Apercu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro Medium';
  src: url('../assets/fonts/ApercuPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro Light Italic';
  src: url('../assets/fonts/ApercuPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Italic';
  src: url('../assets/fonts/Apercu-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro Italic';
  src: url('../assets/fonts/ApercuPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Light';
  src: url('../assets/fonts/Apercu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Medium';
  src: url('../assets/fonts/Apercu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro Medium Italic';
  src: url('../assets/fonts/ApercuPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Light Italic';
  src: url('../assets/fonts/Apercu-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro Light';
  src: url('../assets/fonts/ApercuPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Medium Italic';
  src: url('../assets/fonts/Apercu-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro Regular';
  src: url('../assets/fonts/ApercuPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}