<template lang="html">
  <div class="brdr-top-1 brdr-cl-secondary pt20 mb15 hidden-md" :class="accordionClasses">
    <h2 class="h4 m0 serif lh20 weight-400 uppercase brdr-bottom-1 brdr-cl-secondary pb20 accordion-header flex center-xs middle-xs between-xs" @click="toggleAccordion">
      {{ $t('My Account') }} <i class="arrow ml10" :class="accordionHeaderArrow"></i>
    </h2>
    <div class="accordion-body">
      <nav class="static-menu h4 py15 brdr-bottom-1 brdr-cl-secondary">
        <ul class="m0 p0 mobile-acc-menu-links">
          <li
            class="py10"
            v-for="(page, index) in navigation"
            :key="index"
            @click="notify(page.title)"
          >
            <router-link
              :to="localizedRoute(page.link)"
              class="cl-gray-AAAAAA f-s-18 no-underline"
              :class="{ 'a-bold': $route.path === page.link }" @click.native="toggleAccordion"
            >
              <span class="acc-link">
                <img :src="page.icon" class="menu-icon" :alt="page.title" />
                <img :src="page.hoverIcon" class="menu-hover-icon" :alt="page.title" />
              </span>
              {{ page.title }}
            </router-link>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      navigation: [
        {
          title: this.$t("My Profile"),
          link: "/my-account",
          icon: "/assets/icons/user.svg",
          hoverIcon: "/assets/icons/user-hover.svg"
        },
        {
          title: this.$t("Delivery Details"),
          link: "/my-account/shipping-details",
          icon: "/assets/icons/DeliveryDetails.svg",
          hoverIcon: "/assets/icons/DeliveryDetails-hover.svg"
        },
        {
          title: this.$t("Newsletter"),
          link: "/my-account/newsletter",
          icon: "/assets/icons/Newsletter.svg",
          hoverIcon: "/assets/icons/Newsletter-hover.svg"
        },
        {
          title: this.$t("My Orders"),
          link: "/my-account/orders",
          icon: "/assets/icons/MyOrder.svg",
          hoverIcon: "/assets/icons/MyOrder-hover.svg"
        },
        // {
        //   title: this.$t("My Reward Points"),
        //   link: "#",
        //   icon: "/assets/icons/review-product.svg",
        //   hoverIcon: "/assets/icons/review-product-hover.svg"
        // },
        // {
        //   title: this.$t("My Product Reviews"),
        //   link: "#",
        //   icon: "/assets/icons/review.svg",
        //   hoverIcon: "/assets/icons/review-hover.svg"
        // },
        {
          title: this.$t("Recently Viewed Products"),
          link: "/my-account/recently-viewed",
          icon: "/assets/icons/viewed-product.svg",
          hoverIcon: "/assets/icons/viewed-product-hover.svg"
        }
      ],
      isOpen: false
    }
  },
  computed: {
    accordionClasses () {
      return {
        'is-closed': !this.isOpen,
        'is-primary': this.isOpen,
        'is-dark': !this.isOpen
      };
    },
    accordionHeaderArrow () {
      return {
        'right': !this.isOpen,
        'down': this.isOpen
      }
    }
  },
  methods: {
    notify (title) {
      if (title === "My loyalty card" || title === "My product reviews") {
        this.$store.dispatch("notification/spawnNotification", {
          type: "warning",
          message: this.$t(
            "This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!"
          ),
          action1: { label: this.$t("OK") }
        });
      }
    },
    toggleAccordion () {
      this.isOpen = !this.isOpen;
    }
  }
}
</script>
<style lang="scss" scoped>
  .accordion-header {
    cursor: pointer;
  }
  .accordion-body   {
    padding: 0;
    max-height: 440px;
    overflow: hidden;
    transition: 0.3s ease all;
  }
  .is-closed .accordion-body {
    max-height: 0;
  }
</style>
