// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  white: #fff,
  white-smoke: #f2f2f2,
  gainsboro: #e0e0e0,
  silver: #bdbdbd,
  gray: #828282,
  suva-gray: #8e8e8e,
  matterhorn: #4f4f4f,
  burnt-sienna: #eb5757,
  buccaneer: #755,
  forest-green: #308c14,
  puerto-rico: #4dba87,
  mine-shaft: #333,
  green-95BF47: #95BF47,
  black-222222: #222222,
  black-27272F: #27272F,
  black-2E2F30: #2E2F30,
  black-666666: #666666,
  black-101010 :#101010,
  gray-888888: #888888,
  gray-CCCCCC:  #CCCCCC,
  gray-AAAAAA:#AAAAAA,
  white-EEEEEE: #EEEEEE,
  gray-E5E5E5: #E5E5E5,
  gray-DDDDDD : #DDDDDD,
  gray-696979: #696979,
  gray-222220: #222220,
  gray-3A3A3A: #3A3A3A,
  gray-B7B7B7: #B7B7B7,
  almond-F7EEE2: #F7EEE2,
  almond-E8DAC7: #E8DAC7,
  blue-02AFCE: #02AFCE,
  white-FAFAFA: #FAFAFA,
  gray-444444: #444444,
  gray-D8D8D8: #D8D8D8,
  white-F5F5F5 :#F5F5F5,
  gray-00003F : #00003F,
  gray-8B8B99: #8B8B99,
  gray-F5F6FB: #F5F6FB,
  dark-yellow: #FACC04
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, matterhorn)
  ),
  secondary: (
    default: map-get($colors, gray),
    hover: map-get($colors, matterhorn),
  ),
  accent: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, black),
  ),
  tertiary: map-get($colors, silver),
  success: map-get($colors, forest-green),
  warning: map-get($colors, dark-yellow),
  error: map-get($colors, burnt-sienna)
);

$colors-border: (
  primary: map-get($colors, silver),
  secondary: map-get($colors, gainsboro),
);

$colors-background: (
  primary: (
    default: map-get($colors, white),
    hover: map-get($colors, silver)
  ),
  secondary: (
    default: map-get($colors, white-smoke),
    hover: map-get($colors, gainsboro)
  ),
  tertiary: map-get($colors, suva-gray)
);
