<template>
  <footer :class="{ 'brdr-top-1 brdr-cl-secondary': isCheckoutPage }">
    <div class="newsletters relative middle-md between-xs py10" v-if="!isCheckoutPage">
      <img src="assets/newletter-left.png" alt="Flower" class="img-left">
      <newsletter
        class=" flex brdr-top-1 brdr-cl-almond-E8DAC7"
        v-if="!isCheckoutPage"
      />
      <img src="assets/newletter-right.png" alt="Flower" class="img-right">
    </div>
    <div class="footer-links flex px40 bg-cl-white" v-if="!isCheckoutPage">
      <div class="container pt40 pb60 brdr-bottom-1 brdr-cl-gray-E5E5E5">
        <div class="row m0 footer-block">
          <div class="col-md-3 p0 align-left block-1">
            <logo width="auto" height="40px" />
            <div class="site-info lh25 pt15">
              <p class="m0">
                <span class="f-s-14 cl-black-222222"> Email:</span>
                <a href="mailto:Help@greenfood.com" class="f-s-14 cl-gray-3A3A3A">Help@greenfood.com</a>
              </p>
              <p class="m0">
                <span class="f-s-14 cl-black-222222"> Phone:</span>
                <a href="tel:123-456-789" class="f-s-14 cl-gray-3A3A3A">(00) 123-456-789</a>
              </p>
              <p class="m0">
                <span class="f-s-14 cl-black-222222"> Address:</span>
                <span class="f-s-14 cl-gray-3A3A3A">4126 Bryan Avenue, Roseville,<br>MN, Minnesota, 55113</span>
              </p>
            </div>
          </div>
          <div class="col-md-2 block-2">
            <h3 class="cl-black-27272F f-s-16 a-bold relative">
              {{ $t("Categories") }}
              <span class="plus-icon" @click="openAccordian(1)"><i class="fa" :class="activeAcordian === 1 ? 'fa-minus' : 'fa-plus'" aria-hidden="true" /></span>
            </h3>
            <div class="block-content fcontent-1 f-s-14">
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Fruits") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Vegetables") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Dairy") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Stamples") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Category - 5") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Category - 6") }}
                </router-link>
              </div>
            </div>
          </div>
          <div class="col-md-2 block-3">
            <h3 class="cl-black-27272F f-s-16 a-bold relative">
              {{ $t("Store Name") }}
              <span class="plus-icon" @click="openAccordian(2)"><i class="fa" :class="activeAcordian === 2 ? 'fa-minus' : 'fa-plus'" aria-hidden="true" /></span>
            </h3>
            <div class="block-content fcontent-2 f-s-14">
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("About Us") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Contact Us") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Privacy Policy") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Term & Conditions") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Category - 5") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Category - 6") }}
                </router-link>
              </div>
            </div>
          </div>
          <div class="col-md-2 block-3">
            <h3 class="cl-black-27272F f-s-16 a-bold relative">
              {{ $t("My Account") }}
              <span class="plus-icon" @click="openAccordian(3)"><i class="fa" :class="activeAcordian === 3 ? 'fa-minus' : 'fa-plus'" aria-hidden="true" /></span>
            </h3>
            <div class="block-content fcontent-3 f-s-14">
              <div class="mt15">
                <router-link
                  v-show="isLogged"
                  class="cl-gray-888888"
                  :to="localizedRoute('/my-account')"
                  exact
                >
                  {{ $t("My account") }}
                </router-link>
                <a
                  v-show="!isLogged"
                  class="cl-gray-888888"
                  href="#"
                  @click.prevent="goToAccount"
                >
                  {{ $t("My account") }}
                </a>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/delivery')"
                  exact
                >
                  {{ $t("Delivery") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/returns')"
                  exact
                >
                  {{ $t("Return policy") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Account Information") }}
                </router-link>
              </div>
              <div class="mt15">
                <router-link
                  class="cl-gray-888888"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t("Address Book") }}
                </router-link>
              </div>
            </div>
          </div>
          <div class="col-md-3 block-4">
            <h3 class="cl-black-27272F f-s-16 a-bold">
              {{ $t("Social Links") }}
            </h3>
            <div class="pb10 social-icon">
              <a
                class="cl-gray-888888 pr10"
                href="https://www.facebook.com"
                target="_blank"
              >
                <i class="fa fa-facebook" />
              </a>
              <a
                class="cl-gray-888888"
                href="https://www.twitter.com"
                target="_blank"
              >
                <i class="fa fa-twitter" />
              </a>
              <a class="cl-gray-888888" href="" target="_blank">
                <i class="fa fa-google-plus" />
              </a>
              <a
                class="cl-gray-888888"
                href="https://www.instagram.com"
                target="_blank"
              >
                <i class="fa fa-instagram" />
              </a>
              <a
                class="cl-gray-888888"
                href="https://www.pinterest.com"
                target="_blank"
              >
                <i class="fa fa-pinterest-p" />
              </a>
            </div>
            <div class="payment-info">
              <p class="cl-black-27272F f-s-16 a-bold">
                Payment Mathod
              </p>
              <div class="payment-methods">
                <img src="/assets/payment/PayPal.svg" alt="PayPal">
                <img src="/assets/payment/Mastercard.svg" alt="Mastercard">
                <img src="/assets/payment/Visa.svg" alt="Visa">
                <img
                  src="/assets/payment/American-express.svg"
                  alt="Americal express"
                >
                <img src="/assets/payment/Discover.svg" alt="Discover">
                <img src="/assets/payment/Maestro.svg" alt="Maestro">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="align-center copyright-text cl-black-222222 f-s-14 m0 py20">
        @2020
        <router-link
          class="cl-black-222222"
          :to="localizedRoute('/')"
          exact
        >
          {{ $t("GreenFood") }}
        </router-link>
        . All Rights Reseved
      </p>
    </div>
    <back-to-top bottom="20px" right="20px" visibleoffset="200">
      <button
        type="button"
        class="btn-top button no-outline brdr-none cl-white bg-cl-green-95BF47 py10 px10"
      >
        <svg
          width="24"
          height="24"
          xmlns="http://www.w3.org/2000/svg"
          fill-rule="evenodd"
          clip-rule="evenodd"
        >
          <path
            d="M23.245 20l-11.245-14.374-11.219 14.374-.781-.619 12-15.381 12 15.391-.755.609z"
            fill="white"
          />
        </svg>
      </button>
    </back-to-top>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex';
import {
  currentStoreView,
  localizedRoute
} from '@vue-storefront/core/lib/multistore';
import CurrentPage from 'theme/mixins/currentPage';
import LanguageSwitcher from '../../LanguageSwitcher.vue';
import Newsletter from 'theme/components/core/blocks/Footer/Newsletter';
import BackToTop from 'theme/components/core/BackToTop';
import { getPathForStaticPage } from 'theme/helpers';
import config from 'config';
import Logo from 'theme/components/core/Logo';

export default {
  mixins: [CurrentPage],
  name: 'MainFooter',
  data () {
    return {
      activeAcordian: null
    }
  },
  methods: {
    goToAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup');
    },
    getLinkFor (path) {
      return localizedRoute(getPathForStaticPage(path));
    },
    openAccordian (digit) {
      if (this.activeAcordian !== null && this.activeAcordian !== digit) {
        document.getElementsByClassName(`fcontent-${this.activeAcordian}`)[0].classList.remove('active')
      }
      this.activeAcordian = this.activeAcordian === digit ? null : digit
      document.getElementsByClassName(`fcontent-${digit}`)[0].classList.toggle('active')
    }
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    multistoreEnabled () {
      return config.storeViews.multistore;
    },
    getVersionInfo () {
      return `v${process.env.__APPVERSION__} ${process.env.__BUILDTIME__}`;
    }
  },
  components: {
    Newsletter,
    LanguageSwitcher,
    BackToTop,
    Logo
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$color-secondary: color(secondary);
$green: color(green-95BF47);
$gray-E5E5E5: color(gray-E5E5E5);
$black-27272F: color(black-27272F);

footer {
  a:hover {
    color: $green;
  }
  a:hover:after {
    height: 0;
  }
}

.social-icon {
  font-size: 18px;
  a {
    padding-right: 10px;
    i {
      &:hover,
      &:focus,
      &:active {
        color: $green;
      }
    }
  }
}

.newsletters {
  .img-left,
  .img-right {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .img-left {
    left: 0;
  }
  .img-right {
    right: 0;
  }
}

@media (max-width: 768px) {
  .newsletters {
    .img-left {
      left: -195px;
    }
    .img-right {
      right: -128px;
    }
  }
}

.links {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.btn-top {
  border-radius: 4px;
}

.bottom-links {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.footer__version-info {
  display: flex;
  color: $color-secondary;
  font-size: 0.7rem;
  @media (min-width: 768px) {
    margin-right: 1rem;
    font-size: 0.8rem;
  }
}

.legal-entity-link {
  text-align: center;
  @media (min-width: 768px) {
    display: none;
  }
}

.privacy-policy-link {
  text-align: right;
  @media (min-width: 768px) {
    display: none;
  }
}

.plus-icon {
  display: none;
}

@media (max-width: 767px) {
  .footer-links {
    div.container {
      padding-bottom: 30px;
    }
  }
  .plus-icon {
    display: inline-block;
    position: absolute;
    right: 0;
    color: $black-27272F;
  }
  .block-content {
    display: none;
  }
  .active {
    display: block;
    margin-bottom: 15px;
  }
  .footer-block {
    div {
      text-align: center;
    }
    & > div:not(:first-child) {
      border-top: 1px solid $gray-E5E5E5;
    }
  }
  .block-1 {
    margin-bottom: 30px;
  }
  .copyright-text {
    font-size: 12px;
  }
}
</style>
