<template>
  <form @submit.prevent="subscribe(onSuccesfulSubmission)" novalidate>
    <div class="newsletter-forms around-md center-xs row">
      <input
        focus
        class="newsletter-field cl-gray-CCCCCC bordr-none w-100 col-md-8 col-xs-7"
        type="email"
        name="email"
        v-model="email"
        autocomplete="email"
        :placeholder="$t('Enter your email address')"
      >
      <button
        class="newsletter-btn uppercase f-s-14 cl-white bordr-none bg-cl-green-95BF47 a-bold col-md-3 col-xs-4"
        type="submit"
        :disabled="this.$v.$invalid"
        @click="$v.email.$touch()"
      >
        {{ $t("subscribe NOW") }}
      </button>
      <ValidationMessages :validations="[
        {
          condition: $v.email.$error && !$v.email.required,
          text: $t('Field is required.')
        },
        {
          condition: !$v.email.email && $v.email.$error,
          text: $t('Please provide valid e-mail address.')
        }
      ]"
      />
    </div>
  </form>
</template>
<script>
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus';
import Subscribe from '@vue-storefront/core/modules/newsletter/mixins/Subscribe';
import i18n from '@vue-storefront/i18n';
import ValidationMessages from 'theme/components/core/blocks/Form/ValidationMessages.vue'
export default {
  name: 'NewsletterForm',
  beforeDestroy () {
    this.$off('validation-error');
  },
  components: {
    ValidationMessages
  },
  methods: {
    onSuccesfulSubmission (isSubscribed) {
      if (isSubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t(
            'You have been successfully subscribed to our newsletter!'
          ),
          action1: { label: i18n.t('OK') }
        });
      }
    }
  },
  mixins: [SubscriptionStatus, Subscribe]
};
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$cl-cccccc : color(gray-CCCCCC);
$cl-2E2F30 : color(black-2E2F30);

.newsletter-btn {
  border-radius: 4px;
  &:hover {
    background-color: $cl-2E2F30;
  }
}
.newsletter-field {
  outline: 0;
  border-radius: 4px;
  padding-left: 16px;
  &::placeholder {
    color: $cl-cccccc;
  }
}
@media (max-width: 767px) {
  .newsletter-field {
    margin-right: 10px;
  }
  .newsletter-btn {
    font-size: 12px;
  }
}
</style>
