<template>
  <div id="home">
    <head-image />
    <top-selectional />
    <trending-category />
    <home-static-block />
    <top-sellers />
    <save-upto />
    <Onboard />
  </div>
</template>

<script>
// query constructor
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import LazyHydrate from 'vue-lazy-hydration'

// Core pages
import Home from '@vue-storefront/core/pages/Home'
// Theme core components
import ProductListing from 'theme/components/core/ProductListing'
import HeadImage from 'theme/components/core/blocks/MainSlider/HeadImage'
import ShippingInfo from 'theme/components/core/blocks/MainSlider/ShippingInfo'
import TopSelectional from 'theme/components/core/blocks/Product/TopSelectional'
import TrendingCategory from 'theme/components/core/blocks/Category/TrendingCategory'
import TopSellers from 'theme/components/core/blocks/Category/TopSellers'
import SaveUpto from 'theme/components/core/blocks/Category/SaveUpto'
// Theme local components
import Onboard from 'theme/components/theme/blocks/Home/Onboard'

import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import HomeStaticBlock from 'theme/components/theme/blocks/Static/HomeStaticBlock'

export default {
  data () {
    return {
      loading: true
    }
  },
  mixins: [Home],
  components: {
    HeadImage,
    Onboard,
    ShippingInfo,
    TopSelectional,
    TrendingCategory,
    HomeStaticBlock,
    LazyHydrate,
    SaveUpto,
    TopSellers
  },
  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    categories () {
      return this.getCategories
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  async beforeMount () {
    if (this.$store.state.__DEMO_MODE__) {
      const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
      if (!onboardingClaim) { // show onboarding info
        this.$bus.$emit('modal-toggle', 'modal-onboard')
        this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
      }
    }
  },
  mounted () {
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data
    Logger.info('Calling asyncData in Home (theme)')()

    await Promise.all([
      store.dispatch('homepage/fetchNewCollection'),
      store.dispatch('promoted/updateHeadImage'),
      store.dispatch('promoted/updatePromotedOffers')
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  }
}
</script>

<style lang="scss" scoped>
  .new-collection {
    @media (max-width: 767px) {
      padding-top: 0;
    }
  }
</style>
<style lang="scss">
.VueCarousel-slide.hover-on-product {
  border: 1px solid transparent;
  .product:hover {
      background: #FFFFFF;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
      border-radius: 6px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
    }
}
</style>
