<template>
  <div class="mb35 ac-px40">
    <div class="pb15 brdr-bottom-1 brdr-cl-gray-DDDDDD">
      <div class="row middle-xs">
        <div class="col-xs-12 my5 col-sm-6 cl-green-95BF47">
          <h3 class="m0 a-bold f-s-18 flex middle-xs">
            <img :src="'/assets/icons/viewed-product-hover.svg'" class="acc-link pr15" alt="My Recently viewed products">
            {{ $t('Recently Viewed Products') }}
          </h3>
        </div>
      </div>
    </div>
    <div class="row mt50">
      <div class="col-xs-12" v-if="items && items.length > 0">
        <product-listing columns="3" :products="items" :product-slider="false" class="recently-viewed" />
      </div>
      <div class="col-xs-12 h4" v-else>
        <p>{{ $t('No products yet') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import RecentlyViewed from '@vue-storefront/core/modules/recently-viewed/components/RecentlyViewed'
import ProductListing from 'theme/components/core/ProductListing.vue'

export default {
  mixins: [RecentlyViewed],
  components: {
    ProductListing
  }
}
</script>
<style lang="scss">
.product-listing {
  &.recently-viewed {
    .productslist {
      @media (max-width: 1279px) {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
      }
      @media (max-width: 991px) and (min-width: 768px) {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 275px;
        margin: 0 auto;
      }
      @media (max-width: 480px) {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 275px;
        margin: 0 auto;
      }
    }
  }
}
</style>