<template>
  <button-full
    class="atc-btn"
    @click.native="addToCart(product)"
    :disabled="isProductDisabled"
    data-testid="addToCart"
  >
    {{ $t("Add to cart") }}
  </button-full>
</template>

<script>
import { formatProductMessages } from "@vue-storefront/core/filters/product-messages";
import { notifications } from "@vue-storefront/core/modules/cart/helpers";
import focusClean from "theme/components/theme/directives/focusClean";
import ButtonFull from "theme/components/theme/ButtonFull.vue";
import { mapGetters } from "vuex";

export default {
  name: "AddToCart",
  directives: { focusClean },
  components: { ButtonFull },
  props: {
    product: {
      required: true,
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onAfterRemovedVariant() {
      this.$forceUpdate();
    },
    async addToCart(product) {
      try {
        const diffLog = await this.$store.dispatch("cart/addItem", {
          productToAdd: product
        });
        diffLog.clientNotifications.forEach(notificationData => {
          this.notifyUser(notificationData);
        });
      } catch (message) {
        this.notifyUser(
          notifications.createNotification({ type: "error", message })
        );
      }
    },
    notifyUser(notificationData) {
      this.$store.dispatch("notification/spawnNotification", notificationData, {
        root: true
      });
    }
  },
  computed: {
    ...mapGetters({
      isAddingToCart: "cart/getIsAdding"
    }),
    isProductDisabled() {
      return (
        this.disabled ||
        formatProductMessages(this.product.errors) !== "" ||
        this.isAddingToCart
      );
    }
  },
  beforeMount() {
    this.$bus.$on("product-after-removevariant", this.onAfterRemovedVariant);
  },
  beforeDestroy() {
    this.$bus.$off("product-after-removevariant");
  }
};
</script>
<style lang="scss">
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";

$green: color(green-95BF47);
$white: color(white);
.atc-btn.button-full {
  min-width: unset;
  background: transparent;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid $green;
  color: $green;
  &:hover {
    background: $green;
    color: $white;
  }
}
@media (max-width: 767px) {
  button.button-full {
    font-size: 12px;
  }
}
@media (min-width: 305px) and (max-width: 425px) {
  .atc-btn.button-full {
    padding: 10px 0;
    font-size: 10px;
  }
}
</style>
