<template>
  <div @click="$emit('change', variant)">
    <button
      class="relative brdr-1 bg-cl-transparent pointer selector mr15"
      :class="{ active: isActive }"
      :aria-label="{ variant: variant.label }"
    >
      <span class="bg-cl-transparent absolute block square" />
    </button>
    <span class="cl-gray-888888 f-s-18">{{ variant.label }}</span>
  </div>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin]
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-event: color(green-95BF47);

  .selector {
    width: 18px;
    height: 18px;
    border: 1px solid #979797;
    border-radius: 2px;
    &:hover {
      .square {
        background-color: $color-event;
      }
    }

    &.active {
      border: 0;
      .square {
        border-radius: 2px;
        background-color: $color-event;
        &:after {
          content: "\2713";
          position: absolute;
          display: block;
          color: #fff;
          left: 2px;
          font-size: 16px;
        }
      }
    }
  }

  .square {
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
</style>
