<template>
  <div class="product-listing">
    <carousel
      :per-page="1"
      :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, columns]]"
      :mouse-drag="false"
      :pagination-enabled="true"
      :navigation-enabled="true"
      pagination-active-color="#828282"
      navigation-next-label="<img src='/assets/icons/prev.svg'/>"
      navigation-prev-label="<img src='/assets/icons/prev.svg'/>"
      v-if="productSlider"
      >
      <slide v-for="(product, key) in products" :key="product.id" class="hover-on-product">
        <product-tile :product="product" />
      </slide>
    </carousel>
    <div class="row" v-else>
      <div
        v-for="(product, key) in products"
        :key="product.id"
        class="col-sm-6 col-md-6 col-xs-6 col-lg-4 flex productslist"
      >
        <product-tile :product="product" />
      </div>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import ProductTile from 'theme/components/core/ProductTile'
import { type } from 'os';
let lastHero = 0
export default {
  name: 'ProductListing',
  components: {
    Carousel: () => import('vue-carousel').then(Slider => Slider.Carousel),
    Slide: () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR,
    ProductTile
  },
  props: {
    products: {
      type: null,
      required: true
    },
    columns: {
      type: [Number, String],
      required: true
    },
    productSlider: {
      type: Boolean
    }
  },
  methods: {
    wide (isOnSale, isNew, index) {
      let deltaCondition = index > 0 && ((index - 1) - lastHero) % 2 === 0
      // last image always shouldn't be big, we also need to count from last promoted to check if it will look ok
      let isHero = ((isOnSale === '1' || isNew === '1') && deltaCondition) || (index === this.products.length - 1 && (index - lastHero) % 2 !== 0)
      if (isHero) {
        lastHero = index
      }
      return isHero ? 'col-xs-12' : 'col-xs-6'
    }
  }
}
</script>
<style lang="scss" scoped>
.productslist {
  box-sizing: border-box;
  border: 1px solid transparent;
  &:hover {
      background: #FFFFFF;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
      border-radius: 6px;
      -webkit-transition: background-color .5s ease;
      -moz-transition: background-color .5s ease;
      -o-transition: background-color .5s ease;
      transition: background-color .5s ease;
    }
}
</style>
<style lang="scss">
.product-listing {
  .VueCarousel {
    @media (min-width: 1366px) {
      padding: 0 60px;
    }
  }
  .VueCarousel-navigation-button {
    img {
      width: 68px;
      height: 68px;
    }
    @media (max-width: 1365px) {
      display: none;
    }
    &.VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(-14px);
    }
    &.VueCarousel-navigation-next {
      transform: translateY(-50%) translateX(14px);
      img {
        transform: rotate(180deg);
      }
    }
  }
  .VueCarousel-pagination {
    display: none;
    @media (max-width: 1365px) {
      display: block;
    }
  }
}
</style>
