<template>
  <div class="hidden-xs bg-cl-black-2E2F30">
    <div class="container menu-header-links relative">
      <ul v-if="categories.length > 0" class="flex menu-links p0 m0 center-xs">
        <li
          class="menu-item"
          v-for="(category, index) of categories"
          :key="index"
          @mouseover="getSubCategory(category.id)"
          @mouseleave="leaveSubCategory"
        >
          <router-link
            class="main-menu-link menu-link cl-white no-underline f-s-16 a-bold"
            data-testid="categoryButton"
            :to="categoryLink(category)"
          >
            {{ category.name }}
          </router-link>

          <transition name="fade">
          <div
            class="mega-menu bg-cl-white"
            v-if="childData !== null && hover && parentID === category.id"

            >
            <div class="row">
              <div class="col-md-8 p50">
                <ul class="mega-menu-link align-left pl0 flex" v-if="childData !== null">
                    <li class="p-c-name" v-for="(sub,index) of childData" :key="index" :class="{mt50 : index + 1 > 4}">
                      <router-link
                          class="no-underline f-s-16 a-bold cl-green-95BF47"
                          :to="categoryLink(sub)"
                        >  {{sub.name}}</router-link>
                      <ul class="s-mega-menu-link" v-if="sub.children_data && sub.children_data.length > 0">
                        <li class="s-c-name subcategory-item" v-for="ssub of sub.children_data" :key="ssub.url_key">
                          <router-link
                            class="no-underline f-s-16 cl-gray-666666"
                            :to="categoryLink(ssub)"
                          >
                          {{ssub.name}}
                          </router-link>
                        </li>
                      </ul>
                    </li>
                  </ul>
              </div>
              <div class="col-md-4">
                <div class="category-img relative">
                  <img :src="getCategoryImage(category.image)"
                    :alt="category.name"
                    />
                    <div class="img-text bg-cl-white">
                      <span class="a-bold f-s-16 cl-black-27272F">
                        {{'Fresh Vegetable'}}
                      </span>
                      <router-link to="/" class="f-s-14 cl-green-95BF47 block no-underline">
                        {{'View all products'}}<i class="material-icons f-s-12">arrow_forward</i>
                      </router-link>
                    </div>
                </div>
              </div>
            </div>
          </div>
          </transition>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import config from 'config';
import { mapGetters, mapState } from 'vuex'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers';
import { getCategoryUrl } from 'theme/helpers'

export default {
  name: 'CategoryMenu',
  data () {
    return {
      allCategories: [],
      childData: null,
      hover: false,
      parentID: null
    };
  },
  props: {

  },
  computed: {
    ...mapGetters({
      getCategories: 'category/getCategories',
      getCurrentCategory: 'category/getCurrentCategory',
      getSubmenuById: 'almagento/getSubmenuById'
    }),
    categories () {
      if (!this.allCategories) {
        return []
      }
      return this.allCategories.filter((op) => {
        return op.level === (this.$store.state.config.entities.category.categoriesDynamicPrefetchLevel ? this.$store.state.config.entities.category.categoriesDynamicPrefetchLevel : 2) // display only the root level (level =1 => Default Category), categoriesDynamicPrefetchLevel = 2 by default
      })
    },
    ...mapState({
      currentUser: state => state.user.current
    }),
    visibleCategories () {
      return this.categories.filter(category => {
        return (category.product_count >= 0 || category.children_count >= 0) && category.include_in_menu === 1
      })
    }
  },
  mounted () {
    let self = this
    setTimeout(async () => {
      let categories = await self.$store.dispatch('category/list', { skipCache: true, sort: 'position:asc', includeFields: self.$store.state.config.entities.optimize ? self.$store.state.config.entities.category.includeFields : null })
      self.allCategories = categories.items
      self.componentLoad()
    }, 300)
  },
  methods: {
    async getSubCategory(parent_id) {
      this.parentID = parent_id;
      let childCatData = await this.$store.dispatch("category/list", {
        parent: parent_id
      });
      this.childData =
        childCatData && childCatData.items.length > 0
          ? childCatData.items
          : null;
      this.hover = true;
    },
    leaveSubCategory() {
      this.childData = null
      this.hover = false
      this.parentID = null
    },
    categoryLink(category) {
      return formatCategoryLink(category);
    },
    getCategoryImage ( img ) {
      return getCategoryUrl(img)
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$green-95BF47: color(green-95BF47);

.menu-header-links {
  height: 60px;
  line-height: 60px;
  ul.menu-links {
    li.menu-item {
      list-style: none;
      margin-left: 14px;
      margin-right: 14px;
      &:hover {
        a.menu-link {
          color: $green-95BF47;
          &::after {
            background-color: $green-95BF47;
            transform: scaleX(1);
          }
        }
      }
      a.menu-link {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 21px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          background-color: transparent;
          transition: all 0.2s ease 0s;
        }
        &:hover,
        &.router-link-active
        {
          color: $green-95BF47;
          &::after {
            background-color: $green-95BF47;
            transform: scaleX(1);
          }
        }
      }
    }
  }
  .category-img {
    img {
      height: 450px;
      max-height: 100%;
      max-width: 100%;
      width: 100%;
      // height: auto;
    }
    .img-text {
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: normal;
      transform: translate(-50%, -50%);
      padding: 12px 37px;
      border-radius: 12px;
      a {
        i {
          vertical-align: middle;
        }
      }
    }
  }
  .mega-menu {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    max-height: 450px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
    line-height: 0;
    border-radius: 10px;
    overflow: hidden;
    .mega-menu-link {
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
      li.p-c-name {
        line-height: 30px;
        flex-basis: 25%;
      }
      .s-mega-menu-link {
        list-style: none;
        padding-left: 0;
        padding-right: 20px;
        li.s-c-name {
          line-height: 30px;
          a:hover {
            color: $green-95BF47;
          }
        }
      }
    }
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}
</style>
