<template>
  <section class="top-selection">
    <div class="container">
      <h3 class="uppercase f-s-25 cl-black-2E2F30 align-center m0 py20 a-bold">
        {{ $t("The Week’s Top Selection") }}
      </h3>
      <div class="top-product-list custom-carousel" v-if="topSelection.length > 0">
        <carousel
          :per-page="1"
          :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 4]]"
          :mouse-drag="false"
          :pagination-enabled="true"
          :navigation-enabled="true"
          pagination-active-color="#828282"
          navigation-next-label="<img src='/assets/icons/prev.svg'/>"
          navigation-prev-label="<img src='/assets/icons/prev.svg'/>"
        >
          <slide v-for="(product, index) of topSelection" :key="index" class="hover-on-product">
            <product-tile :product="product" />
          </slide>
        </carousel>
      </div>
    </div>
  </section>
</template>
<script>
import NoSSR from 'vue-no-ssr';
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
import ProductTile from 'theme/components/core/ProductTile';
export default {
  name: 'TopSelectional',
  data () {
    return {
      topSelection: []
    };
  },
  components: {
    Carousel: () => import('vue-carousel').then(Slider => Slider.Carousel),
    Slide: () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR,
    ProductTile
  },
  async mounted () {
    let newProductsQuery = prepareQuery({ queryConfig: 'newProducts' });
    const newProductsResult = await this.$store.dispatch('product/list', {
      query: newProductsQuery,
      size: 10
    });
    this.topSelection =
      newProductsResult.items.length > 0 ? newProductsResult.items : [];
  }
};
</script>
<style lang="scss" scoped>
.top-selection {
  margin-bottom: 50px;
  @media (max-width: 767px) {
    h3 {
      font-size: 18px;
    }
    .top-product-list {
      margin-top: 30px;
    }
  }
}
.top-product-list {
  margin-top: 50px;
}
</style>
<style lang="scss">
.top-product-list {
  .VueCarousel {
    @media (min-width: 1366px) {
      padding: 0 60px;
    }
  }
  .VueCarousel-navigation-button {
    img {
      width: 68px;
      height: 68px;
    }
    @media (max-width: 1365px) {
      display: none;
    }
    &.VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(-14px);
    }
    &.VueCarousel-navigation-next {
      transform: translateY(-50%) translateX(14px);
      img {
        transform: rotate(180deg);
      }
    }
  }
  .VueCarousel-pagination {
    display: none;
    @media (max-width: 1365px) {
      display: block;
    }
  }
}
</style>
